<!-- QUESTION 1 -->
<section class="exercice">
    <h2 class="exercice-ttl">Question 1</h2>
    <p class="exercice-txt">
        Créer une classe permettant de gérer l'affichage d'un template HTML en
        lisant un fichier grace à la fonction file_get_contents().
    </p>
    <div class="exercice-sandbox"></div>
</section>

<!-- QUESTION 2 -->
<section class="exercice">
    <h2 class="exercice-ttl">Question 2</h2>
    <p class="exercice-txt">
        Créer une classe permettant de gérer l'affichage des pages de ce
        mini-site.
    </p>
    <div class="exercice-sandbox"></div>
</section>

<!-- QUESTION 3 -->
<section class="exercice">
    <h2 class="exercice-ttl">Question 3</h2>
    <p class="exercice-txt">
        Créer une classe permettant de gérer le menu de navigation de ce site.
    </p>
    <div class="exercice-sandbox"></div>
</section>

<!-- QUESTION 4 -->
<section class="exercice">
    <h2 class="exercice-ttl">Question 4</h2>
    <p class="exercice-txt">
        Créer une classe permettant de gérer l'affichage des questions sur ce
        site.
    </p>
    <div class="exercice-sandbox"></div>
</section>
